.block-tweets ol.tweets {
  list-style: none;
  margin-left: 0;
}

.block-tweets .tweet {
  margin-bottom: 0.5em;
  position: relative;
}

.block-tweets .tweet.with-image {
  min-height: 48px;
}

.block-tweets .tweet.with-image .tweet-profile-image {
  left: 0;
  position: absolute;
  top: 0;
}

.block-tweets .tweet.with-image .tweet-tweet,
.block-tweets .tweet.with-image .tweet-date {
  margin-left: 60px;
}
